* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Messina Sans", sans-serif;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}

.wrapper_div {
  width: 1280px;
  margin: 0 auto;
}
/* Header Section */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #23408f;
}
.logo_main {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bolder;
  color: white;
  display: inline-block;
}
.logo_main:hover {
  color: rgb(90, 171, 221);
}
.nav {
  display: flex;
  align-items: center;
  display: inline-block;
}
.nav a {
  font-size: 1rem;
  padding: 4rem 1rem;
  line-height: 6rem;
  color: white;
}

.nav a:hover {
  background: rgb(90, 171, 221);
  color: black;
}
.nav a i {
  font-size: 1rem;
  padding-left: 1.5rem;
}
/* Image Section */
.bg_image {
  background-image: url(../images/header_down.jpg);
  background-position: center;
  height: 120vh;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.card {
  width: 100%;
  max-width: 550px;
  margin: auto;
  background: #23408f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 67%;
  left: 72.5%;
}
.card:hover {
  background-color: rgb(90, 171, 221);
}

.card .content {
  padding: 60px 50px;
  color: white;
  font-size: 2rem;
  line-height: 1.33;
}
.icon {
  /* position: fixed; */
  color: white;
  /* top: 25%;
  right: 5%; */
  font-size: 2rem;
}

/* Current Section*/
.section_name {
  display: block;
  /* padding: 0 6%; */
}

.section_name h3 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 8rem;
}
.section_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
}
.card_2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 25px;
  border-left: 20px solid yellow;
}
.card_2:hover {
  background: rgb(90, 171, 221);
}
.both {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 25px;
  width: 300px;
  font-size: 25px;
}

.date {
  font-size: 25px;
  font-weight: bold;
}

.heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 30px;
}
.paragraph_icon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.paragraph {
  font-size: 35px;
  padding-left: 25px;
}

.paragraph_icon i {
  font-size: 35px;
  padding-right: 2rem;
}
/* All news & events section */

.two_headings {
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10rem;
}

.two_headings h3 {
  font-size: 2.5rem;

  color: blueviolet;
}

.two_headings h3:hover {
  color: black;
}

.two_headings h3 i {
  font-size: 2rem;
  padding: 2rem;
  font-weight: 4rem;
}

/* Two heading cards next to each other */
.card-container {
  display: flex;
  padding: 0 5%;
}
.card-container :hover {
  background: rgb(90, 171, 221);
  color: black;
}

.card_3 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: #23408f;
  color: white;
  padding: 2.5rem;
  margin: 25px;
}

.card-heading {
  font-size: 2.5rem;
  line-height: 6rem;
  font-weight: bold;
}

.card_3 i {
  line-height: 6rem;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Card with image on left and text on right */
.outer-card_4 {
  display: flex;
  padding: 0 7.8rem;
  margin-top: 5rem;
}

.inner-card_4 {
  width: 50%;
  background: #23408f;
  color: white;
}

.inner-card_4:hover {
  background: rgb(90, 171, 221);
  color: black;
}

.inner_card_text_4 {
  padding: 3.5rem;
}

.heading_icon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-image_4 {
  width: 100%;
  height: 100%;
}

.card-heading_4 {
  font-size: 30px;
  font-weight: bold;
}

.angle-right_4 i {
  font-size: 2.5rem;
  font-weight: bold;
}

.card-paragraph_4 p {
  margin-top: 15px;
  font-size: 30px;
  line-height: 3rem;
}

/* <!-- Text on left & Bulb on right --> */
.card_5 {
  display: flex;
  justify-content: space-between;
  background: rgb(90, 171, 221);
  padding: 7.5rem 10rem;
  margin-top: 5rem;
}
.card-left_5 {
  width: 50%;
}

.card-left_5 h3 {
  font-size: 3rem;
}
.card-left_5 p {
  font-size: 2rem;
  line-height: 3rem;
  margin: 3rem 0;
}

.card-left_5 ul {
  list-style-type: none;
  line-height: 3.5rem;
}

.card-left_5 ul li {
  padding: 2rem;
  margin-left: -2rem;
}
.card-left_5 ul li:hover {
  background: yellow;
}

.angle_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.angle_icon a {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.angle_icon i {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 7px;
}
.card-right_5 {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.card-right_5 img {
  width: 30rem;
  height: 30rem;
  margin: 25% 25% 10% 25%;
}

/* Research Multidisiplinary research */
.card_6 {
  display: flex;
  justify-content: space-between;
  background: #4bbca9;
  padding: 7.5rem 10rem;
  margin-top: 3rem;
}
.card-left_6 {
  width: 50%;
}

.card-left_6 h3 {
  font-size: 3rem;
}
.card-left_6 p {
  font-size: 2rem;
  line-height: 3rem;
  margin: 3rem 0;
}

.card-left_6 ul {
  list-style-type: none;
  line-height: 3.5rem;
}

.card-left_6 ul li {
  padding: 2rem;
  margin-left: -2rem;
}
.card-left_6 ul li:hover {
  background: yellow;
}

.angle_icon_6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.angle_icon_6 a {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.angle_icon_6 i {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 7px;
}
.card-right_6 {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.card-right_6 img {
  width: 30rem;
  height: 30rem;
  margin: 25% 25% 10% 25%;
}

/* Diverse collaboration and services */
.card_7 {
  display: flex;
  justify-content: space-between;
  background: yellow;
  padding: 7.5rem 10rem;
  margin-top: 3rem;
}
.card-left_7 {
  width: 50%;
}

.card-left_7 h3 {
  font-size: 3rem;
}
.card-left_7 p {
  font-size: 2rem;
  line-height: 3rem;
  margin: 3rem 0;
}

.card-left_7 ul {
  list-style-type: none;
  line-height: 3.5rem;
}

.card-left_7 ul li {
  display: block;
  padding: 2rem;
  margin: 0 -2rem;
}
.card-left_7 ul li:hover {
  background: rgb(90, 171, 221);
}

.angle_icon_7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.angle_icon_7 a {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.angle_icon_7 i {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 7px;
}
.card-right_7 {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.card-right_7 img {
  width: 30rem;
  height: 30rem;
  margin: 25% 25% 10% 25%;
}

/* Footer */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #23408f;
  color: #fff;
  padding: 6rem 0 6rem 0;
  margin-top: 8rem;
}
.footer_wrapper span {
  border-bottom: 1px solid white;
}
.footer_wrapper span:hover {
  border-bottom: none;
}

.footer-section_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 8rem 0 0;
}
.footer-section_2 h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section_2 ul {
  list-style: none;
}

.footer-section_2 li {
  margin-bottom: 15px;
}

.footer-section_2 a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

/* Footer Icons */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #23408f;
  padding: 20px;
}

.footer-border {
  border-top: 1px solid #fff;
  width: 90%;
  margin-bottom: 20px;
}
.footer-icons {
  margin: 4rem 0;
}
.footer-icons i {
  font-size: 32px;
  padding: 2rem;
}

.footer-icons a {
  color: #fff;
}
.footer-icons a:hover {
  color: rgb(90, 171, 221);
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 20px;
  }
  .footer-icons {
    flex-direction: column;
    align-items: center;
  }

  .footer-icons i {
    margin-bottom: 10px;
  }
}
