* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Messina Sans", sans-serif;
  text-decoration: none;
}
body {
  height: 500rem;
}
/* Header Section */
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: #23408f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /* padding: 0 2%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}

.logo {
  font-weight: 600;
  color: white;
  font-size: 2rem;
  margin-left: 7rem;
}
.logo a:hover {
  cursor: pointer;
  color: rgb(90, 171, 221);
}

.main-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 4rem;
}

.main-menu li {
  display: inline-block;
  margin-left: 1.5rem;
  padding: 0px 18px;
}
.main-menu li:hover,
.main-menu li a:hover {
  background: rgb(90, 171, 221);
  cursor: pointer;
  color: black;
}
.main-menu li a {
  color: white;
  font-size: 1.5rem;
  line-height: 8.4rem;
}
.main-menu li a i {
  padding-left: 1.5rem;
}

/* Image Section */
.bg_image {
  background-image: url(../images/header_down.jpg);
  background-position: center;
  height: 120vh;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.card {
  width: 100%;
  max-width: 960px;
  margin: auto;
  background-color: #23408f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 67%;
  left: 72.5%;
  transform: translate(-50%, -50%);
}
.card:hover {
  background-color: rgb(90, 171, 221);
}

/* Add some padding and a border to the card */
.card .content {
  padding: 60px 50px;
  color: white;
  font-size: 2rem;
  line-height: 1.33;
}
.icon {
  position: fixed;
  color: white;
  top: 25%;
  right: 5%;
  font-size: 2rem;
}

/* Current Section*/
.section_name {
  display: block;
  padding: 0 6%;
}

.section_name h3 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 8rem;
}
.section_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
}
.card_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  padding: 20px;
  margin: 25px;
  border-left: 20px solid yellow;
}
.card_2:hover {
  background: rgb(90, 171, 221);
}
.both {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 25px;
  width: 300px;
  font-size: 25px;
}

.date {
  font-size: 25px;
  font-weight: bold;
}

.heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 30px;
}

.paragraph {
  font-size: 35px;
  padding-left: 25px;
}

/* All news & events section */

.two_headings {
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10rem;
}

.two_headings h3 {
  font-size: 2.5rem;

  color: blueviolet;
}

.two_headings h3:hover {
  color: black;
}

.two_headings h3 i {
  font-size: 2rem;
  padding: 2rem;
  font-weight: 4rem;
}

/* Two heading cards next to each other */
.card-container {
  display: flex;
  padding: 0 5%;
}
.card-container :hover {
  background: rgb(90, 171, 221);
  color: black;
}

.card_3 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: #23408f;
  color: white;
  padding: 2.5rem;
  margin: 25px;
}

.card-heading {
  font-size: 2.5rem;
  line-height: 6rem;
  font-weight: bold;
}

.card_3 i {
  line-height: 6rem;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Card with image on left and text on right */
.outer-card_4 {
  display: flex;
  padding: 0 7.8rem;
  margin-top: 5rem;
}

.inner-card_4 {
  width: 50%;
  background: rgb(90, 171, 221);
}

.inner_card_text_4 {
  padding: 3.5rem;
}

.heading_icon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-image_4 {
  width: 100%;
  height: auto;
}

.card-heading_4 {
  font-size: 30px;
  font-weight: bold;
}

.angle-right_4 i {
  font-size: 3rem;
  font-weight: bold;
}

.card-paragraph_4 p {
  margin-top: 15px;
  font-size: 30px;
  line-height: 3rem;
}

/* <!-- Text on left & Bulb on right --> */
.card_5 {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 5rem 10rem;
  margin-top: 5rem;
}
.card-left_5 {
  width: 50%;
}

.card-left_5 h3 {
  font-size: 3rem;
}
.card-left_5 p {
  font-size: 30px;
  line-height: 3rem;
  margin-top: 2rem;
}

.card-left_5 ul {
  list-style-type: none;
  margin-top: 3rem;
}

.card-left_5 ul li {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 2rem;
  margin-left: -2rem;
}
.card-left_5 ul li:hover {
  background: grey;
}

.card-left_5 ul li a {
  line-height: 2rem;
  font-weight: bold;
  color: black;
}
.card-right_5 {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.card-right_5 img {
  width: 25rem;
  height: 25rem;
}
